<section class="form-page">
    <div class="form-container">
        <div class="title">
        Login to FetchMate!
        </div>
        <div class="user-details">
        <form action="/login" method = "post">
            <div class="input-box">
                <label class="details" for="">Email</label>
                <input type="text" name="email">
            </div>
            <div class="input-box">
                <label class="details" for="">Password</label>
                <input type="password" name = "password">
            </div>
            <button class="form-btn">login</button>
        </div>
        </form>
    </div>
</section>