<section class="form-page">
    <div class="form-container">
        <div class="title">
            <p>Share a  post</p>
        </div>
        <form action="/posts" method ="post">
        <div class="user-details">
            <div class="input-box">
                <label class="details" for="">Title</label>
                <input type="text" name ="title">
            </div>
            <div class="input-box">
                <label class="details" for="">image url</label>
                <input type="text" name ="image_url" >
            </div>
            <div class="input-box">
                <label class="details" for="">description</label>
                <textarea name="description" id=""></textarea>
            </div>
            <div class="input-box">
                <label class="details" for="category"> My post's objective is to:</label>
                <select name="category" id="category">
                    <option value="socialize">Socialize my dog</option>
                    <option value="meet_owners">Meet other pet owners</option>
                    <option value="puppies">Breeding opportunities</option>
                    <option value="vet">Vet hook-ups</option>
                    <option value="events">Advertise pet events</option>
                    <option value="parks">Show off dog parks</option>
                    <option value="shops">Shout out local Pet shops</option>
                </select>
            </div>
            <button class="form-btn">Post</button>
        </div>
        </form>
    </div>
</section>