<h2>Become a member of FetchMate's community </h2>
<h3>Create a profile</h3>
<form action="/new_user" method = "post">
    <label for="">Email</label>
    <input type="text" name="email">

    <p>
        <label for="">Password</label>
        <input type="password" name = "password">
    </p>
    <p>
        <label for="">User Name</label>
        <input type="text" name = "user_name">
    </p>
    <p>
        <label for="">Profile Picture</label>
        <input type="text" name ="profile_pic">
    </p>
    <p>
        <label for="">Pet Picture</label>
        <input type="text" name ="pet_pic">
    </p>
    <div>
        <label for="category">I joined FetchMate to:</label>
            <select id="category">
                <option value="socialize">Socialize my dog</option>
                <option value="meet_owners">Meet other pet owners</option>
                <option value="puppies">Breeding opportunities</option>
                <option value="vet">Vet hook-ups</option>
                <option value="events">Advertise pet events</option>
                <option value="parks">Show off dog parks</option>
                <option value="shops">Shout out local Pet shops</option>
                <option value="all">All of the cool features</option>
            </select>
    </div>
    <button>Sign Up</button>
</form>