<h1><%= user.user_name %></h1>


<p>
    This is me!
    <img src="<%= user.profile_pic %>" alt="">

</p>

<p>
    This is my dog!
    <img src="<%= user.pet_pic %>" alt="">
</p>


<p>
    I joined FetchMate to: <%= user.category%>
</p>


