*{
    box-sizing: border-box;
}
body{
    background-color: mistyrose;
}

img{
    width: 200px;
}

header{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    background-color: white; 
}
.nav_bar li {
margin-right: 20px; 
}

.post-card{
    width: 400px;
    border-radius: 10px;
    background-color: palegreen;
}
.post-card header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-card .avatar{
    width: 50px;
    border-radius: 50%;
}
.post-card .username{
    flex-grow: 1;
}
.post-card footer{
    display: flex;
    justify-content: space-between;
}
.card_img{
    width: 100%;
    display: block;
}

@media (min-width: 500px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}